
/* universal properties */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(300deg, #7CB9E8, #7FFFD4);
  height: 100vh;
  
  /*   centers the currency converter box */
  display: flex;
/*   up down */
  align-items:center;
/*   left right */
  justify-content: center;  
}

.container{
  background-color: white;
  padding: 20px 24px;
  border-radius: 20px;
  width: 490px;
}

.container .box {
  width: 100%;
  display: flex;
}

.box div{
  width: 100%;
}


h1{
  font-family: Trebuchet MS;
  color: #36454f;
  margin-left: 70px;
  margin-bottom: 1em;
}


select{
  cursor: pointer;

  
  background: #7591c7;

  color: white;
  margin: 0.3em 0;

  border-radius: 10px;

/*   font-size: 1.2em;
  outline: none;
  padding: 0 1em;
  border: none;
   */
  width: 90%;
  height: 35px;
  
  
}


input{
  background: #dfecfb;
  width: 90%;
  height: 35px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  /*   makes black border disappear on default prior click */
  border: none;
  color: #495C83;
  
  /*  makes black border disappear  after click  */
  outline: none;
  padding: 0 1em;
}


.button{
  cursor: pointer;

  width: 95%;
  height: 40px;
  background: #495C83;
  border-radius: 10px;
  border: none;
  margin: 2em 0;
  font-size: 1em;
  font-weight: bold;
  
  color: white;
  
}